
/.idea
/.ipynb_checkpoints
/__pycache__

logs/
/data

*.pdf
*.png
# Allow images under docs so built site can show plot screenshots
!docs/img/*.png
!docs/img/*.pdf


gradiend/trainer/decoder_only_mlm/decoder_mlm_model/

# Test bench run artifacts
test_bench/results/

# Setup script
gradiend/trainer/__pycache__/

*.pyc



site/

gradiend.egg-info/
